/* 1024 */
@media (max-width: 1024px) {
    header {
        padding: 30px;
    }

    header.sticy {
        padding: 15px 30px;
        box-shadow: 1px 0px 1px #080808;
    }

    .container {
        padding: 0 30px;
    }

    .home__block2 {
        display: none;
    }

    .about__photo {
        margin: 0 auto;
    }

    .about__text_title {
        text-align: center;
    }

    .about__text_description {
        text-align: center;
    }

    .services__card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navbar__li_btn {
        display: none;
    }

    .about__info {
        display: block;
    }

    .about__text_title {
        margin-top: 40px;
    }

    .contacts__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}



/* 768 */
@media (max-width: 768px) {
    .services__card {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about__rectangle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        margin: 0 auto;
    }
    
}




/* 576 */
@media (max-width: 576px) {

    .title {
        text-align: center;
    }

    .home__title {
        max-width: none;
    }

    .services__card {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about__photo {
        place-items: center;
    }

    .about__rectangle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    .contacts__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        place-items: center;
    }

    .contacts__block {
        width: 220px;
    }
}




/* 480 */
@media (max-width: 480px) {    
    .about__photo {
        place-items: center;
        max-width: 300px;
        max-height: 395px;
    }

    .about__rectangle {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        place-items: center;

    }

    .about__rectangle_info {
        max-width: 250px;
    }

    .contacts__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        place-items: center;
    }
    
}