@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color_white: #ffffff;
    --color_black: #111111;
    --color_beige: #faf7f0;
    --color_blue: #0030ff;
    --color_blue_dark: #0029bf; 
    --color_grey: #727280;
    --color_grey_light: #f7f7f7;

    --font_regular: 400;
    --font_medium: 500;
    --font_bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 110px;
}

a {text-decoration: none;}
ul {list-style: none;}
li {cursor: pointer;}
p {line-height: 25px;}

.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

button {
    border: none;
    color: var(--color_white);
    background-color: var(--color_blue);
    padding: 12px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: var(--color_blue_dark);
}

.title {
    font-size: 36px;
    font-weight: var(--font_bold);
    margin-bottom: 40px;
}






/* МЕНЮ */

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: all 0.2s ease;
    padding: 30px 0;
    background-color: var(--color_white);
}

header.sticy {
    padding: 18px 0;
    box-shadow: 1px 0px 1px #080808;
}

header .navbar {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: var(--color_black);
    font-size: 16px;
    font-weight: var(--font_medium);
    
}

.navbar__logo {
    width: 35px;
    height: 35px;
    fill: var(--color_blue);
    transition: fill 0.2s ease;
}

.navbar__logo:hover {
    fill: var(--color_blue_dark);
}



.navbar__li {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar__li_btn {
    transition: color 0.2s ease;
}

.navbar__li_btn:hover {
    color: var(--color_blue_dark);
}

.navbar__li_a {
    color: var(--color_black);
    transition: color 0.2s ease;
}

.navbar__li_a:hover {
    color: var(--color_blue);
}

.navbar__contact {
    display: flex;
    flex-direction: column;
    color: var(--color_black);
}

.navbar__contact1 {
    text-align: end;
    color: var(--color_blue);
    margin-bottom: 7px;
    font-weight: var(--font_bold);
    transition: color 0.2s ease;
}

.navbar__contact1:hover {
    color: var(--color_blue_dark);
}

.navbar__contact2 {
    text-align: end;
    color: var(--color_black);
}








/* ГЛАВНАЯ */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 110px;
    margin-bottom: 100px;
}

.home__block1 {
    width: 768px;
    height: 480px;
    border-radius: 20px;
    background-color: var(--color_beige);
    position: relative;
}

.home__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
}

.home__block2 {
    width: 256px;
    height: 480px;
    border-radius: 20px;
}

.home__title {
    max-width: 400px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: var(--font_bold);
}

.home__description {
    max-width: 400px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: var(--font_medium);
}

.home__button {
    font-size: 16px;
    font-weight: var(--font_medium);
}

.home__button a {
    color: var(--color_white);
}











/* УСЛУГИ */
#services {
    display: block;
    margin-bottom: 100px;
}

.services__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.services__cardsimple {
    border-radius: 20px;
    padding: 20px;
    border: 1px solid var(--color_grey);
}

.services__cardsimple_type {
    font-size: 16px;
    font-weight: var(--font_regular);
    color: var(--color_grey);
    margin-bottom: 20px;
}

.services__cardsimple_title {
    font-size: 22px;
    font-weight: var(--font_bold);
    margin-bottom: 20px;
}

.services__cardsimple_text {
    font-size: 16px;
    font-weight: var(--color_black);
    color: var(--color_black);
    /* margin-bottom: 20px; */
    line-height: 25px;
}

.services__cardsimple_price {
    font-size: 16px;
    font-weight: var(--font_bold);
    color: var(--color_blue);
    text-align: right;
}










.about__info {
    display: flex;
    margin-bottom: 100px;
}

.about__photo {
    width: 360px;
    height: 475px;
    border-radius: 20px;
    margin-right: 50px;
}

.about__text {
    display: block;
}

.about__text_title {
    font-size: 36px;
    font-weight: var(--font_bold);
    margin-bottom: 20px;
}

.about__text_description {
    font-size: 16px;
    font-weight: var(--font_regular);
    color: var(--color_grey);
    margin-bottom: 20px;
    line-height: 25px;
}

.about__text_words {
    line-height: 30px;
}

.about__rectangle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 40px;
}

.about__rectangle_info {
    padding: 20px;
    max-width: 180px;
    background-color: var(--color_grey_light);
    border-radius: 20px;
}

.about__rectangle_one {
    font-size: 20px;
    font-weight: var(--font_bold);
    color: var(--color_blue);
    text-align: center;
    margin-bottom: 7px;
}

.about__rectangle_two {
    text-align: center;
    line-height: 20px;
}








.contacts__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 150px;
}

.contacts__info {
    margin-bottom: 35px;
    max-width: 400px; 
}

.contacts__description {
    font-size: 16px;
    font-weight: var(--font_regular);
    color: var(--color_grey);
    margin-bottom: 10px;
}

.contacts__text {
    display: block;
    font-size: 16px;
    font-weight: var(--font_regular);
    margin-bottom: 10px;
    color: var(--color_black);
    transition: color 0.2s ease;
}

.contacts__text:hover {
    color: var(--color_blue);
}


.contacts__social {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.contacts__icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    fill: var(--color_blue);
    transition: fill 0.2s ease;
}

.contacts__icon:hover {
    fill: var(--color_blue_dark);
}






.footer__text {
    margin-top: 60px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: var(--font_regular);
    color: var(--color_grey);
    line-height: 20px;
}

.footer__uu {
    /* margin-top: 60px; */
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: var(--font_regular);
    color: var(--color_grey);
    line-height: 20px;
}

.footer__a {
    color: var(--color_grey);
    transition: color 0.2s ease;
}

.footer__a:hover {
    color: var(--color_blue);
}